:root{
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-text-color: #2196F3;
    --fon-text-color: #FFFFFF;
    --bg-color: #2F303A;
}
.page {
    background:  var(--fon-text-color);
    color:  var(--primary-text-color);
}
.logo {
    color: var(--accent-text-color);
}
.hero-title {
    background: var(--bg-color);
    color: var(--fon-text-color);
}
/* site-nav  */
.site-nav .link {
    color: var(--primary-text-color);
}
.site-nav .link:hover, 
.site-nav .link:focus{
    color: var(--accent-text-color);
}
.section {
    color: var(--primary-text-color);
}
.text{
    color: var(--title-text-color);
}
.site-button .link:hover,
.site-button .link:focus{
    background-color: var(--accent-text-color);
    color: var(--fon-text-color);
}
/* footer */
footer{
    background: var(--bg-color);
    color: var(--fon-text-color);
    }
